*{
    box-sizing: border-box;
}
.final{
    background-color: #605e5e;
}
h1,h2
{
    align-items: center;
    font-family: 'Alfa Slab One' , cursive;}

.hero-container{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
        background: url(../img/imgCerveza.jpg) no-repeat;
        background-size: cover;
        min-height:700px;
}
.hero {

    background-size: cover;
    min-height: 600px;
    color: black
}
.container-flex {
    width: cover;
    box-sizing: border-box;
    display: flex ;
    flex-direction: row ;
    padding: 10px;
    border: 2px solid #333;
    background-color: #dadada;
}
.item-flex {
    padding: 5px;
    margin: 5px;
text-align: center;

}

.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li {
    margin: 4px 0;
}
.lista-novedades li a {
    background-color: #fff;
    font-family: 'Alfa Slab One' , cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition:all .2 ease-in-out;
    display: block;
}
.lista-novedades li a:hover {
    color: #212529;
    background-color: #dadada;
}
.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2 ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}
.lista-novedades li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios {
    background-color: #a0a0a0;
    padding-bottom: 4rem !important;

}
.testimonio{
    text-align: center;
    padding: 50px 20px;
}
.carousel-control-prev-icon, .carousel-control-netx-icon {
    background: none;
}
.carousel-control-prev-icon::after, .carousel-control-netx-icon::after {
font-family: "FontAwesome" ;
font-size: 30px;
}
.carousel-control-prev-icon::after {
    content: "\f137" ;
}
.carousel-control-netx-icon::after {
    content: "\f138";
}
.carousel-indicators li {
    background-color: #000;
}
#historia{
    box-sizing: border-box;
    margin:0px;
    display:flex;
    flex-direction: row;
    background-color: #dadada;
    align-items: center;
}
.staff{
    background-color: #efefef;
}
